*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/CMA.srctrlbm
/CMA.srctrldb
/CMA.srctrlprj
/car-apps-common/consumer-rules.pro
/car-arch-common/consumer-rules.pro
/car-media-common/consumer-rules.pro
/.idea/gradle.xml
/gradle/wrapper/gradle-wrapper.jar
/gradle/wrapper/gradle-wrapper.properties
